<div class = "center jumbotron">
  <h1>ALPHA-BLOG</h1>
  <% if logged_in? %>
    <h2>Welcome back <%= "#{current_user.username}" %></h2>
  <% else %>
    <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-xlarge" %>
  <% end %>
</div>